header  {
    background: rgba(40, 134, 203, 0.3);
}

.logo {

    background: rgba(40, 134, 203, 0.5);
    height: 50px;
}

form {
    /*border-bottom: 5px dashed #ccc;*/
    border-radius: 0 0 20px 20px;
    text-align: center;    
    /*background :#90caf9;*/

}
form input { 
    line-height: 31px;
    width: 45%;
    border-radius: 8px;
    padding: 10px 10px 10px 8px;
    border: none;
    font-size: 25px;
    font-weight: bold;
    color: #AAAAAA;
    font-style: italic;
}

form input:focus { outline:none; }
form button {  
    border: none;
    border-radius: 0px 10px 10px 0px;
    line-height: 25px;
    height: 51px;
    right: 8px;
    top: -3px;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.hidden {
    display: none;
}

.active{
    z-index: 10;
}

.active::before {
    bottom: -1px;
	margin-left: -7px;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid rgba(0,0,0,0.3);
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
.active::after{
	bottom: -1px;
	margin-left: -6px;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-bottom: 11px solid transparent;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.album-container, .song-list{
    position: relative;
    padding: 0;
}

.album-item{
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 25%;
    height: 225px;
    cursor: pointer;
}

.album-item::before {
    position: absolute;
    bottom: -1px;
    left: 50%;
    content: '';
    width: 0;
    height: 0;
    margin-left: 7px;
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 0 solid transparent;
    transition: bottom 0.2s ease-in;
}

.folder::after {
	position: absolute;
	bottom: -1px;
	left: 50%;
	content: '';
	width: 0;
	height: 0;
	margin-left: 6px;
	border-left: 0 solid transparent;
	border-right: 0 solid transparent;
	border-bottom: 0 solid transparent;
	transition: bottom 0.2s ease-in;
}

.song-container{
    position: relative;
    z-index: 0;
    box-sizing: border-box;
    background-color: #aaa;
    border: 1px solid rgba(0,0,0,0.3);
    border-width: 1px 0;
}


.multi {
	column-count: 2;
}

.vignette{
    text-align: center;
}

.vignette:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.vignette-detail{
    background: #fff;
    height: 55px;
    overflow: hidden;
    border-top: 1px solid #990000;
    border-radius: 0 0 5px 5px;
}
.vignette img {
     border-radius: 2px 2px 0 0;
    
}
.vignette p {
    border: 1px dashed #ff9000;
    min-height: 40px; 
    font-style: oblique;
    font-size: 16px;
    text-align: center;
    padding-top: 10px; 
}


